<h1>Página Principal do Usuário</h1>

<dl>
    <dt><strong><%= link_to "Cadastrar Renda", rendas_path(@rendas)%><strong><dt>
    <dd> Cadastre sua renda mensal
    <dt><strong><%= link_to "Cadastrar Dívida", dividas_path(@dividas)%><strong><dt>
    <dd> Cadastre uma dívida qualquer
</dl>
