<p>
  <strong>Nome:</strong>
  <%= @divida.nome %>
</p>
 
<p>
  <strong>Descrição:</strong>
  <%= @divida.descricao %>
</p>
 
<p>
  <strong>Periodo de cobrança:</strong>
  <%= @divida.periodo %>
</p>
 
<p>
  <strong>Valor:</strong>
  <%= @divida.valor %>
</p>