<p>
  <strong>Foto:</strong>
  <%= @usuario_info.foto %>
</p>
 
<p>
  <strong>Idade:</strong>
  <%= @usuario_info.idade %>
</p>

<p>
  <strong>Gênero:</strong>
  <%= @usuario_info.genero %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @usuario_info.telefone %>
</p>
