/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    font-size: 62.5%;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

p, h1, h2, h3 {
    line-height: 0;
}


/* Estilos cabeçalho */

header {
    padding: 1rem 10%;
    background-color:#2ADCA7;
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    align-items: center;
}
.header-logo img {
    width: 5rem;
    margin: 1rem;
}
.header-logo p {
    font-size: 2rem;
}

.header-nav ul{
    display: flex;
    list-style-type: none;
}
.header-nav li {
    margin-right: 3rem;
} .header-nav li:last-child {
    margin-right: 0;
}

.header-btn a{
    font-size: 2rem;
}



/* Estilos do conteudo */

.main-content {
    padding: 3rem 10% 5rem 10%;
    background-color: #EAEAEA;
    flex: 1;
}

h1 {
    color: #949494;
    font-size: 2.4rem;
    font-weight: 400;
}

h2 {
    color: white;
    font-size: 1.8rem;
    font-weight: 400;
}

.white-box {
    width: 100%;
    background-color: white;
    border: .2rem solid #E1E1E1;
    border-radius: 1rem;
    padding: 3rem 4rem;
    margin-bottom: 4rem;
    box-sizing: border-box;
} 
.white-box:last-child {
    margin-bottom: 0;
}

.green-box {
    width: 100%;
    background-color: #2ADCA7;
    border: .2rem solid #2ADCA7;
    border-radius: 1rem;
    padding: 2rem 4rem;
    margin-bottom: 1rem;
    display: flex;
    box-sizing: border-box;
    justify-content:space-between;
}

.green-box-btn {
    background-color: #2ADCA7;
    border: .2rem solid white;
    border-radius: 1rem;
    color: white;
    text-transform: uppercase;
    padding: 1rem 2rem;
    text-decoration: none;
}
.green-box-btn:hover {
    background-color: white;
    border: .2rem solid white;
    color: #2ADCA7;
}

#tabela {
    width: 100%;
    line-height: 3.5rem;
    display: flex;
    flex-direction: column;
}

#tabela button {
    background-color:#949494;
    color: white;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
}#tabela button:hover {
    background-color:#BE1E2D;
}

.itens-tabela tr th {
    color: #5A5A5A;
    font-size: 1.8rem;
    font-weight: 300;    
}
.itens-tabela tr {
    display:flex;
    justify-content: space-between;
}

.conteudo-tabela-renda td {
    color: #2ADCA7;
    font-size: 2.2rem;
    font-weight: 300;
}

.conteudo-tabela-divida td {
    color: #A4A4A4;
    font-size: 1.8rem;
    font-weight: 300;
}.conteudo-tabela-divida td:nth-child(4n) {
    color: #BE1E2D;
}

.conteudo-tabela-objetivo td {
    color: #A4A4A4;
    font-size: 1.8rem;
    font-weight: 300;
}

.conteudo-tabela-usuario td {
    color: #2ADCA7;
    font-size: 2.2rem;
    font-weight: 300;
}

.white-box form {
    width: 100%;
    text-align: center;
} 



/* Estilo dos formulários */

.form-titulo {
    font-size: 3.2rem;
    color: #5A5A5A;
    text-align: center;
    margin-bottom: 3rem;
}

.form-label {
    font-size: 1.8rem;
    font-weight: 300;
    color: #5A5A5A;
}

.form-input input,select {
    border-radius: 2rem;
    background-color: #F3F3F3;
    border: .1rem solid #949494;
    font-size: 2rem;
    color:#545454;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.form-btn input {
    background-color: white;
    border: .2rem solid #2ADCA7;
    border-radius: 2rem;
    color: #2ADCA7;
    padding: 1rem 3rem;
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 2rem;
}
.form-btn input:hover {
    background-color: #2ADCA7;
    border: .2rem solid white;
    color: white;
}

.form-linked-text {
    font-size: 1.5rem;
    font-weight: 300;
    color:#949494;
    padding-top: 3rem;
}


/* Estilos do rodapé */

footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #545454;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 2rem 0;
    margin-top: auto;
}