<footer>
    <h3><strong>Engenharia de Sistemas de Informação - Grupo 1</strong></h3>
    <p>Nome Completo - Nº USP</p>
    <p>Nome Completo - Nº USP</p>
    <p>Nome Completo - Nº USP</p>
    <p>Nome Completo - Nº USP</p>
    <p>Nome Completo - Nº USP</p>
    <p>Renan Gonçalves Mastropaolo - 10892593</p>
    <p>Nome Completo - Nº USP</p>
</footer>