<footer>
    <h3><strong>Engenharia de Sistemas de Informação - Grupo 1</strong></h3>
    <p>Rhuan Carlos dos Santos Ferreira - 10259071</p>
    <p>Ivo de Andrade de Deus - 80752380</p>
    <p>Gustavo Nascimento da Cunha - 10438400</p>
    <p>Gustavo Ferreira Silva - 10687767</p>
    <p>Renan Gonçalves Mastropaolo - 10892593</p>
    <p>Ian Lourenço Bezerra da Silva - 10430937</p>
</footer>